<?php
/** @var \Mirasvit\Rma\Block\Rma\NewRma\Step2\Items\Item $block */
/** @var \Mirasvit\Rma\Api\Data\ItemInterface $item */
?>
<?php if ($item = $block->getItem()): ?>
    <?php $product = $block->getProductByItem($item) ?>
    <?php if ($product->getTypeId() != 'bundle'): ?>
        <?php $another = $block->getRmasByItem($item) ?>
        <div class="rma-one-item">
            <div class="item-description">
                <input type='checkbox' name="items[<?= $escaper->escapeHtml($item->getOrderItemId()) ?>][is_return]"
                       data-item-id="<?= $escaper->escapeHtmlAttr($item->getOrderItemId()) ?>"
                       class="rma-item-checkbox"
                       value='1' <?= /* @noEscape */ ($block->getQtyAvailable($item) == 0 || $product->getRmaAllowed() == '0') ? 'disabled' : '' ?>
                       <?= /* @noEscape */ $item->getIsRmaAllowed() ? '' : 'style="visibility:hidden"' ?>>
                       <?php
                       $designImages = [];
                       $helper = $this->helper(\Shirtplatform\Rma\Helper\Data::class);

                       if ($helper->isShirtplatformBaseProduct($item)) {
                           $designImages = $helper->getDesignImages($item, ['width' => 135, 'height' => 135]);
                           $mouseOverImages = $helper->getDesignImages($item, ['width' => 200, 'height' => 220]);
                       }
                       elseif ($helper->isShirtplatformCollectionProduct($item)) {
                           $designImages = $helper->getCollectionImages($item, ['width' => 135, 'height' => 135]);
                           $mouseOverImages = $helper->getCollectionImages($item, ['width' => 200, 'height' => 220]);
                       }

                       if (!empty($designImages)) {
                           ?>
                    <div class="designed-images">
                        <?php $firstImageUrl = reset($designImages); ?>
                        <div class="image">
                            <img src="<?php echo $escaper->escapeUrl($firstImageUrl); ?>" alt="" />
                            <?php $width = count($mouseOverImages) * 220 + 2; ?>
                            <ul class="mouseover-images" style="width: <?php echo $escaper->escapeHtml($width); ?>px;">
                                <?php foreach ($mouseOverImages as $imageId => $imageUrl) { ?>
                                    <li><img src="<?php echo $escaper->escapeUrl($mouseOverImages[$imageId]); ?>" alt="" /></li>
                                <?php } ?>
                            </ul>
                        </div>                
                    </div>
                    <?php
                }
                else {
                    ?>
                    <img class="image"
                         src="<?= $escaper->escapeUrl($block->initImage($item, 'product_page_image_small')->resize(300)->getUrl()) ?>"
                         width="150px"/>
                     <?php } ?>
                <b><?= $escaper->escapeHtml($block->getOrderItemLabel($item)) ?></b>
            </div>

            <?php if ($block->getQtyAvailable($item) == 0): ?>
                <div class="item-options">
                    <div class="message info">
                        <span>
                            <p><?= $escaper->escapeHtml(__('There are no items for this product that can be returned.')) ?></p>
                            <?php if ($another): ?>
                                <p><?= $escaper->escapeHtml(__('Another RMA for this product: %1', $another)) ?></p>
                            <?php endif; ?>
                        </span>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($product->getRmaAllowed() == '0'): ?>
                <div class="item-options">
                    <div class="message info">
                        <span>
                            <p><?= $escaper->escapeHtml(__('This product can not be returned due to RMA Policy')) ?></p>
                        </span>
                    </div>
                </div>
            <?php endif; ?>

            <?php if (!$item->getIsRmaAllowed()): ?>
                <div class="item-options">
                    <div class="message info">
                        <span><?= $escaper->escapeHtml(__('This is a non-returnable item per our return policy.')) ?></span>
                    </div>
                </div>
            <?php endif ?>

            <div id="item<?= $escaper->escapeHtml($item->getOrderItemId()) ?>" class="item-options" style="display:none">
                <fieldset class="fieldset">
                    <div class="field required">
                        <label class="label">
                            <span><?= $escaper->escapeHtml(__('Quantity to return')) ?></span>
                        </label>

                        <div class="control">
                            <input name="items[<?= $escaper->escapeHtml($item->getOrderItemId()) ?>][qty_requested]"
                                   id="qty_requested<?= $escaper->escapeHtml($item->getOrderItemId()) ?>"
                                   class="input-text"
                                   type="number"
                                   min="0"
                                   max="<?= $escaper->escapeHtmlAttr($block->getQtyAvailable($item)) ?>"
                                   style="width:60px;text-align: center;"
                                   value="<?= /* @noEscape */ $block->getQtyAvailable($item) == 1 ? 1 : '' ?>"
                                   data-validate="{'required-number':'true', 'validate-rma-quantity':'<?= $escaper->escapeHtml($block->getQtyAvailable($item)) ?>'}"
                                   >
                            <span class="total-qty"
                                  id="total-qty"> / <?= $escaper->escapeHtml($block->getQtyAvailable($item)) ?></span>
                        </div>
                    </div>

                    <?php echo $block->getChildBlock('rma.new.step2.items.item.returnreasons')->setItem($item)->toHtml() ?>

                </fieldset>

                <?php if ($another): ?>
                    <div class="message info">
                        <span><?= $escaper->escapeHtml(__('Another RMA for this product: %1', $another)) ?></span>
                    </div>
                <?php endif ?>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>