<?php
//@codingStandardsIgnoreFile
/** @var \Mirasvit\Rma\Block\Adminhtml\Rma\Edit\Form\Items $block */
$rma = $block->getRma();
?>

<script type="text/javascript">
    require([
        "jquery"
    ], function ($) {
        'use strict';

        function isNumeric(obj) {
            return !jQuery.isArray(obj) && (obj - parseFloat(obj) + 1) >= 0;
        }

        function checkQtyOrdered(currentQty) {
            var ordered = parseInt($(currentQty.name.substring(0, 8) + '[qtyAvailable]').innerHTML.trim());
            var defaultQty = 0;
            if ($('rma_id').value != '') {
                ordered += parseInt($(currentQty.name.substring(0, 8) + '[rma_item_qty]').value);
                defaultQty = ordered;
            }
            if (isNumeric(currentQty.value) && isNumeric(ordered)) {
                if (currentQty.value > ordered) {
                    currentQty.value = defaultQty;
                    alert("<?php /* @noEscape */ echo __('You can not return more, than available. Please, try again.') ?>");
                }
            }
        }

        $('[data-role=show-all-items]').on('click', function (e) {
            e.preventDefault();
            $(e.currentTarget).hide();
            $('[data-role=items-table] tr').show();
        })
    });
</script>

<fieldset class="fieldset admin__fieldset rma-edit__items">
    <legend class="admin__legend legend">
        <span><?= /* @noEscape */ __('Items') ?></span>

        <?php if ($rma->getId() > 0) : ?>
            <div class="actions _primary">
                <a href="#" data-role="show-all-items"><?= /* @noEscape */ __('show all order items') ?></a>
            </div>
        <?php endif ?>
    </legend>
    <table class="admin__control-table" data-role="items-table">
        <thead>
            <tr>
                <th></th>
                <th><?= /* @noEscape */ __('Product Name') ?></th>
                <th><?= /* @noEscape */ __('SKU') ?></th>
                <th><?= /* @noEscape */ __('Price') ?></th>
                <th><?= /* @noEscape */ __('Qty') ?></th>
                <th><?= /* @noEscape */ __('Qty to Return') ?></th>
                <th><?= /* @noEscape */ __('Reason to Return') ?></th>
                <th><?= /* @noEscape */ __('Item Condition') ?></th>
                <th><?= /* @noEscape */ __('Resolution') ?></th>
            </tr>
        </thead>
        <tbody>

            <?php $i = 0 ?>
            <?php foreach ($block->getRmaItems() as $item): ?>
                <?php
                $product = $block->getProduct($item);
                $i++;
                ?>

                <?php if ($product && $product->getTypeId() == 'bundle'): ?>
                    <tr class="even">
                        <td></td>
                        <td><?= $escaper->escapeHtml($block->getOrderItemLabel($item)) ?><?= /* @noEscape */ __('(Bundled Product)') ?></td>
                        <td><?= $escaper->escapeHtml($product ? $product->getSku() : $item->getProductSku()) ?></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <?php
                    continue;
                endif;
                ?>

                <tr <?= $rma->getId() > 0 && $item->getQtyRequested() == 0 ? "style='display:none;'" : '' ?>>
                    <td>
                        <?php
                        $designImages = [];
                        $helper = $this->helper(\Shirtplatform\Rma\Helper\Data::class);

                        if ($helper->isShirtplatformBaseProduct($item)) {
                            $designImages = $helper->getDesignImages($item, ['width' => 135, 'height' => 135]);
                            $mouseOverImages = $helper->getDesignImages($item, ['width' => 200, 'height' => 220]);
                        }
                        elseif ($helper->isShirtplatformCollectionProduct($item)) {
                            $designImages = $helper->getCollectionImages($item, ['width' => 135, 'height' => 135]);
                            $mouseOverImages = $helper->getCollectionImages($item, ['width' => 200, 'height' => 220]);
                        }

                        if (!empty($designImages)) {                            
                            ?>
                            <div class="designed-images">
                                <?php $firstImageUrl = reset($designImages); ?>
                                <div class="image">
                                <img src="<?php echo $escaper->escapeUrl($firstImageUrl); ?>" alt="" />                                    
                                    <?php $width = count($mouseOverImages) * 220 + 2; ?>
                                    <ul class="mouseover-images" style="width: <?php echo $escaper->escapeHtml($width); ?>px;">
                                        <?php foreach ($mouseOverImages as $imageId => $imageUrl) { ?>
                                            <li><img src="<?php echo $escaper->escapeUrl($mouseOverImages[$imageId]); ?>" alt="" /></li>
                                        <?php } ?>
                                    </ul>
                                </div>                
                            </div>
                            <?php
                        }
                        else {
                            ?>                    
                            <img src="<?php echo $escaper->escapeUrl($block->initImage($item, 'image', 'catalog/product')->resize(130)) ?>"
                                 width="65px"/>
                             <?php } ?>
                    </td>
                    <td>
                        <?php if ($block->getIsBundleItem($item)): ?> &nbsp;&nbsp;&nbsp; <?php endif ?>
                        <?= /* @noEscapeVerified */ $block->getOrderItemLabel($item) ?>
                    </td>
                    <td><?= $escaper->escapeHtml($product->getSku()) ?></td>
                    <td><?= /* @noEscapeVerified */ $block->getOrderItemPrice($item); ?></td>
                    <td>
                        <table class="qty-table">
                            <tr>
                                <th><?= /* @noEscape */ __('Stock') ?></th>
                                <td><?= $escaper->escapeHtml($product ? $block->getQtyStock($item) : 0) ?></td>
                            </tr>

                            <tr>
                                <th><?= /* @noEscape */ __('Ordered') ?></th>
                                <td><?= $escaper->escapeHtml($block->getQtyOrdered($item)) ?></td>
                            </tr>

                            <tr>
                                <th><?= /* @noEscape */ __('Available') ?></th>
                                <td><?= $escaper->escapeHtml($block->getQtyAvailable($item)) ?></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <input name="items[<?= /* @noEscape */ $i ?>][item_id]" value="<?= $escaper->escapeHtmlAttr($item->getId()) ?>" type="hidden">
                        <input name="items[<?= /* @noEscape */ $i ?>][product_sku]" value="<?= $escaper->escapeHtmlAttr($item->getProductSku()) ?>" type="hidden">
                        <input name="items[<?= /* @noEscape */ $i ?>][order_item_id]"
                               value="<?= $escaper->escapeHtmlAttr($item->getOrderItemId()) ?>" type="hidden">
                        <input id="items[<?= /* @noEscape */ $i ?>][rma_item_qty]"
                               value="<?= $escaper->escapeHtmlAttr($item->getQtyRequested() ? $item->getQtyRequested() : 0) ?>"
                               type="hidden">

                        <div class="a-center">
                            <input name='items[<?= /* @noEscape */ $i ?>][qty_requested]'
                                   type="number"
                                   maxlength="3"
                                   min="0"
                                   max="<?= $escaper->escapeHtmlAttr($block->getQtyOrdered($item)) ?>"
                                   class="admin__control-text required-entry"
                                   value='<?= $escaper->escapeHtmlAttr($item->getQtyRequested() ? $item->getQtyRequested() : 0) ?>'
                                   onKeyUp="checkQtyOrdered(this)">
                        </div>
                    </td>
                    <td>
                        <select name="items[<?= /* @noEscape */ $i ?>][reason_id]" class="admin__control-select">
                            <option value=""><?= /* @noEscape */ __('--') ?></option>
                            <?php foreach ($block->getReasonList() as $reason): ?>
                                <option value="<?= $escaper->escapeHtmlAttr($reason->getId()) ?>"
                                        <?= $escaper->escapeHtml($reason->getId() == $item->getReasonId() ? 'selected' : '') ?>>
                                            <?= $escaper->escapeHtml($reason->getName()) ?>
                                </option>
                            <?php endforeach ?>
                        </select>
                    </td>
                    <td>
                        <select name="items[<?= /* @noEscape */ $i ?>][condition_id]" class="admin__control-select">
                            <option value=""><?= /* @noEscape */ __('--') ?></option>
                            <?php foreach ($block->getConditionList() as $condition): ?>
                                <option value="<?= $escaper->escapeHtmlAttr($condition->getId()) ?>"
                                        <?= $escaper->escapeHtml($condition->getId() == $item->getConditionId() ? 'selected' : '') ?>>
                                            <?= $escaper->escapeHtml($condition->getName()) ?>
                                </option>
                            <?php endforeach ?>
                        </select>
                    </td>
                    <td>
                        <select name="items[<?= /* @noEscape */ $i ?>][resolution_id]" class="admin__control-select">
                            <option value=""><?= /* @noEscape */ __('--') ?></option>
                            <?php foreach ($block->getResolutionList() as $resolution): ?>
                                <option value="<?= $escaper->escapeHtmlAttr($resolution->getId()) ?>"
                                        <?= $escaper->escapeHtml($resolution->getId() == $item->getResolutionId() ? 'selected' : '') ?>>
                                            <?= $escaper->escapeHtml($resolution->getName()) ?>
                                </option>
                            <?php endforeach ?>
                        </select>
                    </td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
</fieldset>