<?php
/* @var \Mirasvit\Rma\Block\Rma\View\Items $block */
?>
<div class="block">
    <div class="title">
        <strong><?= /* @noEscape */ __('Items RMA Requested for') ?></strong>
    </div>
    <div class="block-content">
        <div class="table-wrapper">
            <table class="data table">
                <thead>
                    <tr>
                        <th scope="col" class="col"></th>
                        <th scope="col" class="col"><?= /* @noEscape */ __('Product Name') ?></th>
                        <th scope="col" class="col"><?= /* @noEscape */ __('SKU') ?></th>
                        <th scope="col" class="col"><?= /* @noEscape */ __('Qty') ?></th>
                        <?php if ($block->isReasonAllowed()): ?>
                            <th scope="col" class="col"><?= /* @noEscape */ __('Reason') ?></th>
                        <?php endif; ?>
                        <?php if ($block->isConditionAllowed()): ?>
                            <th scope="col" class="col"><?= /* @noEscape */ __('Condition') ?></th>
                        <?php endif; ?>
                        <?php if ($block->isResolutionAllowed()): ?>
                            <th scope="col" class="col"><?= /* @noEscape */ __('Resolution') ?></th>
                        <?php endif; ?>
                    </tr>
                </thead>
                <tbody>
                    <?php /** @var \Mirasvit\Rma\Api\Data\ItemInterface $item */ ?>
                    <?php foreach ($block->getItems() as $item): ?>
                        <tr>
                            <td data-th="Product" class="col">
                                <?php
                                $designImages = [];
                                $helper = $this->helper(\Shirtplatform\Rma\Helper\Data::class);

                                if ($helper->isShirtplatformBaseProduct($item)) {
                                    $designImages = $helper->getDesignImages($item, ['width' => 135, 'height' => 135]);
                                    $mouseOverImages = $helper->getDesignImages($item, ['width' => 200, 'height' => 220]);
                                }
                                elseif ($helper->isShirtplatformCollectionProduct($item)) {
                                    $designImages = $helper->getCollectionImages($item, ['width' => 135, 'height' => 135]);
                                    $mouseOverImages = $helper->getCollectionImages($item, ['width' => 200, 'height' => 220]);
                                }                                

                                if (!empty($designImages)) {                                    
                                    ?>
                                    <div class="designed-images">
                                        <?php $firstImageUrl = reset($designImages); ?>
                                        <div class="image">
                                            <img src="<?php echo $escaper->escapeUrl($firstImageUrl); ?>" alt="" />
                                            <?php $width = count($mouseOverImages) * 220 + 2; ?>
                                            <ul class="mouseover-images" style="width: <?php echo $escaper->escapeHtml($width); ?>px;">
                                                <?php foreach ($mouseOverImages as $imageId => $imageUrl) { ?>
                                                    <li><img src="<?php echo $escaper->escapeUrl($mouseOverImages[$imageId]); ?>" alt="" /></li>
                                                <?php } ?>
                                            </ul>
                                        </div>                
                                    </div>
                                    <?php
                                }
                                else {
                                    ?>                    
                                    <img id="image"
                                         src="<?= $escaper->escapeUrl($block->initImage($item, 'product_page_image_small')->resize(150)->getUrl()) ?>"
                                         width="75px"/>
                                     <?php } ?>
                            </td>
                            <td data-th="<?= /* @noEscape */ __('Product Name') ?>" class="col">
                                <?= $escaper->escapeHtml($block->getOrderItemLabel($item)) ?>
                            </td>
                            <td data-th="<?= /* @noEscape */ __('SKU') ?>" class="col">
                                <?= $escaper->escapeHtml($block->getOrderItemSku($item)) ?>
                            </td>
                            <td data-th="<?= /* @noEscape */ __('QTY') ?>" class="col">
                                <?= $escaper->escapeHtml($item->getQtyRequested()) ?>
                            </td>
                            <?php if ($block->isReasonAllowed()): ?>
                                <td data-th="<?= /* @noEscape */ __('Reason') ?>" class="col">
                                    <?= __($block->getReasonName($item)) ?>
                                </td>
                            <?php endif; ?>
                            <?php if ($block->isConditionAllowed()): ?>
                                <td data-th="<?= /* @noEscape */ __('Condition') ?>" class="col">
                                    <?= __($block->getConditionName($item)) ?>
                                </td>
                            <?php endif; ?>
                            <?php if ($block->isResolutionAllowed()): ?>
                                <td data-th="<?= /* @noEscape */ __('Resolution') ?>" class="col">
                                    <?= $escaper->escapeHtml(__($block->getResolutionName($item))) ?>
                                </td>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
</div>